@charset "UTF-8";

/* メディアクエリ */
$breakpoints: (
    'sm' : 'screen and (min-width: 575px)',
    'md' : 'screen and (min-width: 767px)',
    'lg' : 'screen and (min-width: 1023px)',
    'xl' : 'screen and (min-width: 1199px)',
);

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/* base */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    color: var(--base-3);
    background-color: var(--base-1);
    line-height: 1.5;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

li {
    list-style: none;
}

small {
    font-size: 0.75rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    word-break: break-word;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

/* svg drawing */
:root {
    --base-1: #f0f0f0;
    --base-2: #deded5;
    --base-3: #0f0f0f;
}

h1,
h2 {
    font-weight: 500;
    line-height: 1.1;
}

h1 {
    font-size: 4rem;
    letter-spacing: -.1rem;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: -0.075rem;
}

p {
    font-size: 1.125rem;
    font-weight: 500;
}

.hero,
.outro {
    position: relative;
    height: 100svh;
    padding: 2rem;
    background-color: var(--base-2);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero h1,
.outro h1 {
    width: 60%;
    text-align: center;
}

.spotlight {
    position: relative;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    overflow: hidden;
}

.spotlight .row {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.spotlight .row .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spotlight .row:nth-child(1) .img,
.spotlight .row:nth-child(4) .img {
    width: 50%;
}

.spotlight .card {
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--base-2);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.spotlight .svg-path {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 330%;
    height: 100%;
    z-index: -1;

    @include mq('sm') {
        width: 275%;
    }

    @include mq('md') {
        width: 125%;
    }

    @include mq('lg') {
        width: 100%;
    }
}

.spotlight .svg-path svg {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1000px) {
    h1, h2 {
        letter-spacing: 0;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .here h1, .outro h1 {
        width: 100%;
    }

    .spotlight {
        gap: 5rem;
    }

    .spotlight .row {
        flex-direction: column;
    }

    .spotlight .row:nth-child(1) .img,
    .spotlight .row:nth-child(4) .img {
        width: 100%;
    }

    .spotlight .card {
        width: 100%;
    } 
}